<div style="padding:20px 0 30px">
  <h1>Lista de sucursales</h1>
</div>
<% if @branches.empty?  %>
  <h3>Agrega una sucursal </h3>
<% elsif %>


<table class="table table-striped">
<thead>
  <tr>

    <th>Nombre</th>
    <th>Ubicación</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @branches.each do |branch| %>
  <tr>
    <td><%= branch.name %></td>
    <td><%= branch.location %></td>
    <td><%= link_to 'Show', branch %></td>
    <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
    <td><%= link_to 'Destroy', branch, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</tbody>
<% end %>
</table>
<% end  %>
<br />

<%= link_to 'Nueva Sucursal', new_branch_path, :class => "btn btn-primary" %>
