
<p ID="NOTICE"><%= notice %></p>

<p style="font-size:15px">
  <b>Name:</b>
  <%= @branch.name %>
</p>

<p style="font-size:15px">
  <b>Location:</b>
  <%= @branch.location %>
</p>

    <div class="row">
      <div class="span4" style="float:right">
        <h2>Dar de alta un movimiento</h2>
        <%=link_to "Salida", new_branch_transfer_path(@branch), :class=>"btn btn-primary" %>
        <!--link para dar de altaa un abastecimiento de proveedor-->
        <%=link_to "Proveedor", new1_branch_transfer_path(@branch), :class=>"btn btn-primary" %>
        <%= render :partial => "transfers/trans_entry_partial", :locals => {:trans_list => @transfers_entry}%>

      </div>
      <div class="span8">
        <h2>Últimos Movimientos</h2>
        <h3>Salidas</h3>
          <%= render :partial => "transfers/trans_partial", :locals => {:transfer_list => @transfers}%>
        <h3>Entradas</h3>
          <%= render :partial => "transfers/trans_partial", :locals => {:transfer_list => @transfers_list_e}%>



        <%= link_to 'Edit', edit_branch_path(@branch), :class=>"btn btn-primary" %> |
        <%= link_to 'Back', branches_path, :class=>"btn" %>

</div>

