
<p ID="NOTICE"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @branch.name %>
</p>

<p>
  <b>Location:</b>
  <%= @branch.location %>
</p>

    <div class="row">
      <div class="span4" style="float:right">
        <h2>Dar de alta un movimiento</h2>
        <%=link_to "Salida", new_branch_transfer_path(@branch), :class=>"btn btn-primary" %>

      </div>
      <div class="span8">
        <h2>Últimos Movimientos</h2>
        <%= render :partial => "transfers/trans_partial", :locals => {:transfer_list => @transfers}%>


<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>

</div>

