<%= form_for([@branch, @transfer],:html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @transfer.errors.any? %>
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

  <fieldset>

  <div class="control-group">
    <%= f.label :mode, :class=>"control-label" %>
    <div class="controls">
    <%= select(:transfer, :mode, Transfer::MODE.collect {|cat| [cat,cat] }) %>
    </div>
  </div>

  <div class="control-group">
  <%= f.label :destination, :class=>"control-label" %>
    <div class="controls">
    <%= f.collection_select(:destination, Branch.all, :id, :name) %>
    </div>
  </div>

  <div class="control-group">
  <%= f.label :name_dealer, :class=>"control-label" %>
    <div class="controls">
    <%= select(:transfer, :name_dealer, Transfer::DEALER.collect {|cat| [cat,cat] }) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :date_output, :class=>"control-label" %>
    <div class="controls">
    <%= f.datetime_select :date_output %>
    </div>
  </div>

  <div class="control-group">
    <% f.label :date_supply %>
    <div class="controls">
    <% f.datetime_select :date_supply %>
    </div>
  </div>
  <h3>Agregar Productos<h3>
      <form class="well form-inline">
      <%= f.fields_for :transfered_products do |builder|  %>
        <%= render 'transfered_product_fields', :f => builder %>
      <% end %>
    </form>
      <div style="padding:0px 50px">
      <%= link_to_add_fields "+", f, :transfered_products %>
      </div>
  <div class="form-actions">
    <%= f.submit 'Guardar', :class=>"btn btn-primary"%>
    <%= link_to 'Back', branch_path(@branch), :class=>"btn" %>
  </div>
  </fieldset>
<% end %>
