
<% transfer_list.each do |transfer| %>
<table class="table table-condensed">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
  <tr>
    <td><%= transfer.mode %></td>
    <td><%= transfer.name_dealer %></td>
    <td><%= transfer.date_output %></td>
    <td><%= transfer.date_supply %></td>
    <td><%= link_to 'Show', branch_transfer_path(@branch,transfer), :class=>"btn btn-primary" %></td>
    <td><%= link_to 'Edit', edit_branch_transfer_path(@branch,transfer),:class=>"btn btn-primary"  %></td>
    <td><%#= link_to 'Destroy', transfer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</tbody>
</table>


<% end  %>
