
<div class="fields">

  <%= f.label "Cantidad", :class=>"control-label" %>
  <% if @condicion == 1 %>
    <%= f.text_field :quantity, :class=>"input-small", :placeholder=>'Cantidad', :disabled => true %>

    <%= f.select(:product_id, Product.all.collect {|p|[p.sku, p.id]}, {:prompt => 'Selecciona un Producto'}, {:disabled => true, :class=>'enterprod'})%>

    <%= f.text_field :quantity_entry, :placeholder=>'Cantidad Recibida' %>

  <% else %>
    <%= f.text_field :quantity, :class=>"input-small", :placeholder=>'Cantidad', :value=>1 %>
    <%= f.select(:product_id, Product.all.collect {|p|[p.sku + "  " + p.name, p.id]}, {:prompt => 'Selecciona un Producto'}, :class => "enterprod")%>
  <% end  %>

  <%= f.text_area :note, :rows=>"2", :placeholder=>'Agrega una Nota' %>


    <%= link_to_remove_fields "_", f %>

  </div>

