
<div class="fields">

  <%= f.label "Producto", :class=>"control-label" %>
  <% if @condicion == 1 %>
    <%= f.select(:product_id, Product.all.collect {|p|[p.name, p.id]}, {:prompt => 'Selecciona un Producto'}, {:disabled => true})%>
    <%= f.text_field :quantity, :class=>"input-small", :placeholder=>'Cantidad', :disabled => true %>
  <% else %>
    <%= f.select(:product_id, Product.all.collect {|p|[p.name, p.id]}, {:prompt => 'Selecciona un Producto'})%>

    <%= f.text_field :quantity, :class=>"input-small", :placeholder=>'Cantidad' %>
<% end  %>

    <%= f.text_area :note, :rows=>"2", :placeholder=>'Agrega una Nota' %>

    <%= link_to_remove_fields "_", f %>

</div>
