<p id="notice"><%= notice %></p>

<p>
  <b>Mode:</b>
  <%= @transfer.mode %>
</p>

<p>
  <b>Name dealer:</b>
  <%= @transfer.name_dealer %>
</p>

<p>
  <b>Date output:</b>
  <%= @transfer.date_output %>
</p>

<p>
  <b>Date supply:</b>
  <%= @transfer.date_supply %>
</p>

<h3>Productos</h3>
<% for transfered_product in @transfer.transfered_products %>
  <%= transfered_product.quantity  %>
  <%= transfered_product.product_id  %>
<% end %>
<%= link_to 'Edit', edit_branch_transfer_path(@branch,@transfer), :class=>"btn btn-primary" %>
<%= link_to 'Back', branch_path(@branch), :class=>"btn btn-primary" %>
