<%= form_for([@branch, @transfer, @transfered_product], :html=>{:class=>"form-horizontal"}) do |f| %>

    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    <p>Productos</p>
    <%= select(:transfered_product, :product_id, Product.all.collect {|p|[p.name, p.id]}, {:prompt => 'Selecciona un Producto'})%>
    <% f.fields_for :transfered_products do |builder| %>
      <%= builder.label :quantity %>
      <%= builder.text_field :quantity %>

    <% end %>
    <%= f.hidden_field :transfer_id, :value=>@transfer.id %>

    <%= f.submit 'Guardar'%>

<% end %>
