<p id="notice"><%= notice %></p>

<p>
  <b>Transfers:</b>
  <%= @transfered_product.Transfers %>
</p>

<p>
  <b>Products:</b>
  <%= @transfered_product.products %>
</p>

<p>
  <b>Quantity:</b>
  <%= @transfered_product.quantity %>
</p>


<%= link_to 'Edit', edit_transfered_product_path(@transfered_product) %> |
<%= link_to 'Back', transfered_products_path %>
