<%= form_for(@stock_item) do |f| %>
  <% if @stock_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_item.errors.count, "error") %> prohibited this stock_item from being saved:</h2>

      <ul>
      <% @stock_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :branches %><br />
    <%= f.text_field :branches %>
  </div>
  <div class="field">
    <%= f.label :products %><br />
    <%= f.text_field :products %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
