<fieldset>
  <%= form_for(@product, :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class=>"control-label" %>
  <div class="controls">
      <%= f.text_field :name, :class =>"input-xlarge"%>
      </div>
   </div>

  <div class="control-group">
    <%= f.label :sku, :class=>"control-label" %>
  <div class="controls">
    <%= f.text_area :sku, :class=>"input-xlarge", :rows=>4 %>
  </div>
  </div>

  <div class="control-group">
    <%= f.label :date, :class=>"control-label" %>
   <div class="controls">
     <%= f.text_field :date %>
     </div>
   </div>
<script type="text/javascript">
    $(document).ready(function () {
      $('#product_date').datepicker();
    });

  </script>

  <div class="control-group">
    <%= f.label :units, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :units, :class=>"input-xlarge"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lote, :class=>"control-label"%>
    <div class="controls">
      <%= f.number_field :lote, :class=>"input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class=>"control-label"%>
    <div class="controls">
      <%= f.number_field :price, :class=>"input-xlarge" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Crear', :class=>"btn btn-primary"%>
<%= link_to 'Back', products_path, :class =>"btn" %>

  </div>
<% end %>
</fieldset>
