<div style="padding:20px 0 30px">
<h1>Lista de productos</h1>
</div>
<% if @products.empty?  %>
  <h3>Crea un producto </h3>
<% elsif %>
<table class="table table-striped">
<thead>
  <tr>
    <th>Nombre</th>
    <th>Sku</th>
    <th>Fecha</th>
    <th>Unidad</th>
    <th>Lote</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.sku %></td>
    <td><%= product.date %></td>
    <td><%= product.units %></td>
    <td><%= product.lote %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</tbody>
<% end %>
</table>

<br />
<% end %>
<%= link_to 'Nuevo Producto', new_product_path, :class=>"btn btn-primary" %>|
<%= link_to 'Regresar', branches_path, :class=>"btn"  %>
