<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Sku:</b>
  <%= @product.sku %>
</p>

<p>
  <b>Date:</b>
  <%= @product.date %>
</p>

<p>
  <b>Type:</b>
  <%= @product.units %>
</p>

<p>
  <b>Lote:</b>
  <%= @product.lote %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
